@import "./../../styles/variables.scss";
@import "./../../styles/mixins.scss";

.extended-play {
  background-color: $color-pink;
  padding: $size-1 0;
  margin-bottom: $size-1;

  .container {
    display: flex;
    justify-content: space-between;

    figure img {
      max-height: 350px;
      filter: drop-shadow(7px 7px 5px #b18b7d)
    }

    aside {
      text-align: right;

      h1 {
        font-size: $size-4;
        font-weight: $font-light;
      }

      h2 {
        margin-top: $size-7;
        margin-bottom: $size-4;
        font-size: $size-3;
        font-weight: $font-bold;
      }

      p {
        line-height: 1.5;
        font-weight: $font-light;

        &:last-child {
          margin-top: $size-4;
          margin-bottom: $size-4;
        }
      }
    }
  }
}

.order-modal {
  display: flex;
  align-items: center;
  z-index: 2;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(#000000, .75);

  .background {
    border-radius: 5px;
    padding: $size-4;
    background-color: white;

    h3 {
      font-weight: $font-bold;
      font-size: $size-4;
      margin-bottom: $size-4;

      .im {
        color: $color-grey;
      }
    }

    p {
      line-height: 1.5;

      a {
        @include animate-fade-link();

        color: $color-orange;
      }
    }
  }
}

@media (max-width: $tablet) {
  .extended-play {
    figure {
      margin-top: $size-2;
    }

    .container {
      flex-direction: column-reverse;

      aside {
        text-align: left;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;

        h1, h2 {
          font-size: $size-4;
          display: inline-block;
        }

        h2 {
          margin-top: 0;
        }

        p {
          flex: 1 100%;

          &:last-of-type {
            flex: 1 50%;
          }
        }

        a.order-button {
          margin: -10px;
        }
      }
    }
  }

  .order-modal {
    .background {
      margin: $size-6;
    }
  }
}
