@import "./../../styles/variables.scss";
@import "./../../styles/mixins.scss";

section.homepage {
  figure.banner {
    position: relative;

    picture, source, img {
      width: 100%;
    }

    .contact {
      position: absolute;
      right: $size-4;
      bottom: $size-4;

      a {
        @include animate-fade-link();

        color: $color-white;
        font-size: $size-6;
      }

      .social-networks {
        margin-top: $size-4;

        a {
          font-size: $size-5;
          float: right;
          margin-left: $size-6;
        }
      }
    }
  }

  section.latest-clip {
    background-color: $color-dark-blue;
    margin-bottom: $size-2;
  }

  section.newscast {
    display: flex;
    flex-direction: row;
    margin-bottom: $size-1;

    .latest-interview,
    .next-show {
      flex: 1 1 0;
      line-height: 1.5;
      font-weight: $font-light;
    }

    .next-show {
      padding-left: 15%;
    }
  }
}

@media (max-width: $tablet) {
  section.homepage {
    .contact > a {
      display: none;
    }

    section.newscast {
      flex-direction: column;

      .next-show {
        padding-left: 0;
        margin-top: $size-1;
      }
    }
  }
}
