@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

@mixin animate-blink() {
  animation: blink 2s ease-in-out infinite;
}

@mixin animate-default() {
  transition: all 0.2s ease-in-out;
}

@mixin animate-fade-link() {
  @include animate-default();

  opacity: 1;

  &:hover {
    opacity: .7;
  }
}
