@import "bulma/sass/utilities/initial-variables.sass";

$header-height: 64px;
$player-height: 70px;

// z-indexes
$z-index-1: 1;
$z-index-2: 2;

// colors
$color-white: #ffffff;
$color-grey: #747d8c;
$color-red: #ff4757;
$color-grey-light: #faf7f7;
$color-dark-blue: #1d212e;
$color-pink: #fedfd4;
$color-orange: #ec835b;
$color-turquoise: steelblue;

// fonts
$font-light: 300;
$font-normal: 400;
$font-bold: 700;
$font-black: 900;

// fonts sie
$font-small: .9rem;
