@import "./../../../styles/variables.scss";
@import "./../../../styles/mixins.scss";

.latest-interview {
  time {
    font-weight: $font-bold;
  }

  p.description {
    margin: $size-5 0;
  }

  .loader {
    height: 150px;
  }

  figure {
    position: relative;
    float: left;
    padding-right: $size-5;
    padding-bottom: $size-5;

    figcaption {
      position: absolute;
      top: 0;
      left: 0;
      margin-left: $size-7;
      margin-top: $size-7;

      .soundcloud-controls {
        button {
          &.play:not(:hover) {
            @include animate-blink();
          }

          span {
            font-size: 5rem;
            color: $color-white;
          }
        }
      }
    }
  }
}
