@import "./../../styles/variables.scss";
@import "./../../styles/mixins.scss";

section.pro {
  padding-top: $size-2;

  .documents {
    display: flex;
    flex-direction: column;

    a {
      @include animate-fade-link();

      background-color: $color-dark-blue;
      color: $color-white;
      display: inline-block;
      margin-bottom: $size-1;
      padding: $size-1;
      text-align: center;

      span {
        padding-bottom: $size-2;
        display: block;
        color: $color-white;
        font-size: 4rem;
      }
    }
  }
}
