@import "./../../styles/variables.scss";

section.tour {
  background-color: $color-grey-light;
  height: 100%;

  h1 {
    font-size: $size-4;
    padding-top: $size-2;
  }

  table.show-table {
    background-color: $color-white;
    width: 100%;

    &:last-of-type {
      margin-bottom: $size-1;
    }

    tr {
      width: 100%;

      &:not(:last-child) {
        border-bottom: 1px solid lighten($color-grey, 35%);
      }

      th, td {
        vertical-align: top;
        line-height: 1.5;
        padding: $size-6;

        // date & price
        &:nth-child(1), &:nth-child(5) {
          width: 20%;
        }

        // time & location
        &:nth-child(2), &:nth-child(3) {
          width: 10%;
        }

        // address
        &:nth-child(4) {
          width: 40%;
        }

        a.btn-teal {
          margin-top: 0;
        }
      }
    }
  }

  article {
    background-color: $color-white;
    padding: $size-6;
    line-height: 1.5;
    margin-bottom: $size-6;

    h2 {
      font-size: $size-5;
    }

    p.price {
      margin-top: $size-4;
    }
  }
}
