@import "./../../styles/variables.scss";

footer {
  flex-shrink: 0; // see https://css-tricks.com/couple-takes-sticky-footer/
  color: $color-grey;
  border: 1px red dotted;
  padding: $size-6;
  font-size: .9rem;

  p {
    text-align: center;
    &:first-child {
      border-top: 1px $color-grey solid;
    }

    &:last-child {
      margin-top: $size-7;
    }
  }
}
